@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 h-[100vh] text-gray-darker font-sans leading-8;
  }

  #root {
    @apply h-full;
  }

  .App {
    @apply h-full;
  }

  .MuiButtonBase-root.MuiButton-root {
    @apply normal-case shadow-md;
  }

  .MuiPaper-root.MuiCard-root {
    @apply shadow-lg mx-1;
  }

  .MuiDialog-paper {
    @apply p-1;
  }

  .MuiButton-root.MuiButton-outlined {
    @apply shadow-none;
  }

  .MuiFormControl-root {
    @apply w-full;
  }

  .MuiTextField-root {
    @apply m-0;
  }
}

@layer components {
  .markdown-wrapper {
    ul {
      @apply list-disc ml-2;
    }

    h1 {
      @apply font-extrabold text-center uppercase bg-gray py-2 mb-4 mt-3;
    }

    h1:first-child {
      @apply mt-0;
    }

    h2 {
      @apply font-extrabold uppercase mb-3;
    }

    p {
      @apply my-3;

      &:first-child {
        @apply mt-0;
      }
    }
  }

  .form-section {
    @apply mb-8 rounded-md bg-gray-lighter p-5;
  }

  .form-section-title {
    @apply mb-4 text-xl text-primary;
  }

  .autosize-textarea textarea {
    min-height: 200px;
    line-height: 22px;
  }
}
