@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: #424242;
}

#root {
  //height: 100%; czy to jest potrzebne?
}

.App {
  height: 100%;
}

.MuiFormControl-root {
  width: 100%;
}

.MuiTextField-root {
  margin: 0 !important;
}

.MuiButtonBase-root {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
}

.MuiCardMedia-root {
  height: 70%;
  width: 100%;
}

.autosize-textarea textarea {
  min-height: 200px;
  line-height: 22px;
}

@layer base {
  .MuiButtonBase-root.MuiButton-root {
    @apply normal-case shadow-md;
  }

  .MuiPaper-root.MuiCard-root {
    @apply shadow-lg mx-1;
  }
}

@layer components {
  .markdown-wrapper {
    @apply whitespace-pre-wrap break-words;

    ul {
      @apply list-disc ml-2;
    }

    h1 {
      @apply font-extrabold text-center uppercase bg-gray py-2;
    }

    h2 {
      @apply font-extrabold uppercase;
    }
  }

  .form-control {
    @apply my-4;
  }

  .form-section {
    @apply mb-8 rounded-md bg-gray-lighter p-6;
  }

  .form-section-title {
    @apply mb-4 text-xl text-primary;
  }
}
